
.leftContainer {
    width: 70%;
    float: left;
}


.rightContainer {
    width: 25%;
    float: right;
    margin-left: 10px;
}

.rightContainer button
{
    position: absolute;
    top: 350px;
    left: 80px;
    width: 250px;
    height: 60px;
    background: #4593C6;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color: aliceblue;
    font-weight: 500;
     font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}


.hotelDetails {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;

}


.hotelImg {
    width: 400px;
    height: 400px;
    border-radius: 5px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left:30px;
    margin-right:30px;
    margin-left:30px;
    height:50px;
    width:250px;
}


button:hover {
    background-color: #45a049;
}


.hotelFacilities {
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    clear:both;
}


.aboutHotel {
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 40px;
    margin-bottom: 20px;
}

.priceTable{
    font-size:150%;
}
